@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root {
    --txt-font: 'Montserrat', sans-serif;
    --txt-color: #152a45;
    --vini-groen: #72afa6;
    --vini-geel: #f4eb34;
}

body {
    font-family: var(--txt-font);
    font-weight: normal;
    height: 100vh;
    max-height: 100vh;
    overflow-x: hidden;   
    position: relative;
    left: 0;
    width: 100%;
    top: 0;
}


/* Website achtergrond */
body::after {
    content: "";
    opacity: .4;
    min-height: 100%;
    background: url('../assets/bg.svg');
    background-position: top left;
    background-size: cover;
    background-repeat: repeat;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}


.maincon{
    height: calc(100vh - 16.5vh);
    width: 100%;
    display: grid;
    place-content: center;
}

.form-container{
    width: 360px;
    aspect-ratio: 1/1.4;
    background: #fff;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 20px 10px rgb(0 0 0 / 20%);}

h3{
    text-align: center;
    margin-bottom: 40px;
    font-size: 1.3em;
    color: var(--vini-groen);
}

.form-container form{
    width: 280px;
    position: absolute;
    left: 40px;
    top: 100px;
    height: 100%;
    transition: .5s;
}

form input{
    padding: 10px 5px;
    margin: 5px 0;
    border: 0;
    border-bottom: 1px solid var(--txt-color);
    outline: none;
    background: transparent;
}

#form-three input{
    padding: 10px 5px;
    margin: 3px 0;
    border: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-bottom: 1px solid var(--txt-color);
    outline: none;
    background: transparent;
}

#form-three section{
    display: flex;
    flex-direction: row;
}


form button{
    width: 110px;
    height: 35px;
    /* margin: 0 auto; */
    background-color: var(--vini-groen);
    color: white;
    border: 0;
    border-radius: 10px;
    cursor: pointer;
    outline: none;
    font-family: var(--txt-font);
}

.btn-box{
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    bottom: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
}


::placeholder{
    color: var(--txt-color);
    font-size: 1.2em;
    font-family: var(--txt-font);
}

#form-two, #form-three, #form-four, #form-five, #form-fiveA, #form-six, #form-sixA, #form-seven, #form-sevenA, #form-eight{
    left: 450px;
    visibility: hidden;
}

.step-row{
    width: 360px;
    height: 40px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    box-shadow: 0px -1px 5px 1px var(--txt-color);
    position: relative;
    border: none;
    border-radius: 10px;
    font-family: var(--txt-font);
    outline: none;
}

.step-col{
    width: 120px;
    text-align: center;
    color: var(--txt-color);
    position: relative;
}

#progress-bar{
    position: absolute;
    height: 100%;
    width: 120px;
    background: var(--vini-geel);
    border: none;
    border-radius: 10px;
    outline: none;
}

input[type="radio" i]{
    width: 16px;
    height: 16px;
}

label{
    padding-left: 10px;
}